body {
    background-color:lightgray;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 7em auto;
    box-shadow: 0px 11px 35px 2px gray;
}

.logo{
    padding-top: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.title {
    color:#E73565;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.sign {
    color:#3D64AC;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -20px;
}

.dropdown{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color:#E73565;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid darkgrey;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.select {
    margin-top: 20px;
    margin-bottom: 20px;
    color:darkgray;
    padding-top: 15px;
    margin-top: -25px;
}

.status {
    width: 75%;
    color:darkgrey;
    font-weight: 700;
    font-size: 15px;
    background:ghostwhite;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid darkgrey;
    margin-bottom: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
}

form.formulario {
    padding-top: 10px;
}

.role {
    width: 75%;
    color:darkgrey;
    font-weight: 700;
    font-size: 15px;
    background:ghostwhite;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid darkgrey;
    margin-bottom: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Ubuntu', sans-serif;
}

.update {
    cursor: pointer;
    border-radius: 5em;
    color: white;
    background: linear-gradient(to right, #3D64AC, blue);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 30%;
    font-size: 15px;
    box-shadow: 0 0 20px 1px gray;
}

.credit {
    color:darkgray;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 9px;
}

a {
    text-shadow: 0px 0px 3px gray;
    color:darkslategray;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 10px;
    }
}
